* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  
  position: fixed;
  top: 0;
  left: 0;
}

.header_content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 75px;
  margin: 5px 0;
}

.logo a img {
    width: 100%;
    border-radius: 50%;
}

.menu {
  display: flex;
  padding: 20px;
  color: white;
}

.menu_item {
  margin-right: 20px;
  display: flex;
  align-items: center;
    color: #333;
}

.menu_item:hover {
    color: #8802a78a;
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 114px;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
}

#services {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
}

#about {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
}

